{% load i18n %}

<table class='simple'>
  <caption>{{caption}}</caption>
  <tr>{% for col in col_names %}
    <th>{% trans col %}</th>{% endfor %}
  </tr>{% for item in data %}
  <tr>{% for value in item %}
    <td>{{value}}</td>{%endfor%}
  </tr>{% endfor %}
</table>
