{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}
<div class='form'>
<form method="post" action=".">{% csrf_token %}
  <table>
  {{ form.as_table }}
  <tr><td colspan='2'><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
  </table>
</form>
</div>
{% else %}
<div class='info'>
<p>{% trans "Password reset failed" %}</p>
</div>
{% endif %}

{% endblock %}
